<% include header %>

  <h1><%-title %></h1>

  <form action="<%=baseUrl%>newarticle" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="url" name="url">
    <input type="text" placeholder="text" name="text">
    <button type="submit">CREAR</button>
  </form>
  <p>
    <form action="<%=baseUrl%>findbytitle" method="GET">
      <input type="text" placeholder="title" name="title">
      <button type="submit">BUSCAR</button>
    </form>

  <form action="<%=baseUrl%>delarticle" method="GET">
    <input type="text" placeholder="id" name="id">
    <button type="submit">BORRAR</button>
  </form>

  <ol class="articles">
    <% for(var i=0; i<articles.length; i++) {%>
      <li class="article">
        <span>ID: <%= articles[i]._id %></span>
        <span>TITULO: <%= articles[i].title %></span>
        <span>URL: <%= articles[i].url %></span>
        <span>TEXT: <%= articles[i].text %></span>
      </li>
      <% } %>
  </ol>

  <% include footer %>
